#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    max-width: 100%;
  }
  .appname{
      color: #111;
      font-size: 1.1rem;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      height: 64px;
      line-height: 24px;
      margin-bottom: 30px;
      margin-left: 10px;
      vertical-align: top;
      padding-top: 20px;
  }
  .bggold{
    background-color: #c69046;
  }
  .bggold:hover{
     background-color: #b77e31;
  }
  .txt-gold{
    color: #c69046!important;
  }
  .txt-gold:hover{
    color: #b77e31!important;
  }
  nav{
    position:fixed;
    z-index:999;
  }
  main{
    min-height: calc(100vh - 60px);
    display: block;
    padding-top: 100px;
  }
  .card-stacked{
    max-width: 100%;
    overflow: hidden;
  }
  .card-img-holder {
    min-height: 380px;
    max-height: 380px;
    height: 100%;
}
  h2{
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
  }
  h4{
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  h3.subtitle{
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Lato";
  margin-bottom: 2.5rem;
  }
  .grid-equal{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      width:100%;
  }
  .dflex{
    display:flex;
  }
  .content-between{
    justify-content: space-between;
  }
  .v-center{
    align-items: center;
  }
  .grid-two-one{
      display:grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 2rem;
      width:100%;
  }
  .flex-container{
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:100%;
  }
  .flex-left{
      width: calc(100% - 150px);
  }
  .flex-right{
      width:150px!important;
      text-align: right;
  }
  .v-flex-end{
    align-items: flex-end;
  }
  .d-block{
      display:block;
  }
  .small-block-line{
      display:block!important;
      font-size: 0.8rem;
      padding:0.25rem 0;
  }
  .small-text {
      font-size: 0.8rem;
      display: block;
      margin-top: 0.25rem;
      width: 100%;
  }
  .mini-subtitle {
      font-family: "Lato";
      font-size: 1.05rem;
      font-style: italic;
  }
  .default-book-img{
      height: 200px;
      object-fit: contain;
      padding: 2rem;
      margin: 0 auto;
  }
  .btn-large{
      height: 45px;
      line-height: 45px;
      font-size: 15px;
      padding: 0 28px;
  }
  .w-100{
    width:100%;
  }
  .no-margin{
    margin:0!important;
  }
  .mt-1{
    margin-top:1rem;
  }
  .mt-2{
    margin-top:2rem;
  }
  .mt-3{
    margin-top:3rem;
  }
  .mr-1{
    margin-right:0.5rem;
  }
  .mb-1{
    margin-bottom:1rem;
  }
  .mb-2{
    margin-bottom:2rem;
  }
  .mb-3{
    margin-bottom:3rem;
  }
  .mb-4{
    margin-bottom:4rem;
  }
  .mbn-4{
    margin-bottom:-4rem;
  }
  .mtn-3{
    margin-top:-3rem;
  }
  .totals{
    margin-top:-1rem;
  }
  .totals span.badge{
    margin-left:0!important;
    text-transform: uppercase;
    font-size:0.9rem;
  }
  .separated{
      border-bottom: 1px solid #ededed;
      padding-bottom: 1rem;
  }
  footer{
    margin-bottom: -20px;
    padding-bottom:20px;
  }
  .select-wrapper .dropdown-content li {
      min-height: 30px;
      line-height: 1rem;
  }
  .select-wrapper .dropdown-content li > a, .dropdown-content li > span {
      font-size: 15px;
      color: #26a69a;
      display: block;
      line-height: 22px;
      padding: 8px 16px;
  }
  .input-field input{
    font-size:15px!important;
    height:2.85rem!important;
  }
  .input-field {
      margin-bottom: 2rem;
  }
  .btn-group-triple{
      min-width:130px;
  }
  .btn-group-double{
    min-width: 84px;
  }
  .rating-col{
      min-width: 90px;
  }
  .indicator-badge{
      font-size: 0.7rem!important;
      text-transform: uppercase;
      color: #fff!important;
      float: left!important;
      margin-left:0!important;
      margin-right:14px!important;
      min-width: 80px!important;
  }
  .admin-area{
      margin-left:300px;
  }
  .admin-area .container{
      width:80%;
  }
  .no-results{
      border: 1px solid #ededed;
      width: 70%;
      padding: 1.5rem 1rem;
      margin: 2rem auto;
      font-size: 1.25rem;
      font-weight: 300;
      font-family: "Lato";
  }
  @media screen and (max-width: 600px) {
    .grid-equal{
        display:block;
    }
    .grid-two-one{
        display:block;
    }
    h1.header{
      font-size: 3rem;
    }
  }
  
  @media screen and (max-width: 998px) {
  .admin-area{
      margin-left:0px;
  }
  }